<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Broccoli Blog</title>
</head>

<body>
  <nav class="clearfix mar-b-1">
    <ul class="no-bullets no-margin no-padding right">

      {{#if email}}
      <li class="pipe-separate t-light-green left">User: {{email}}</li>
      <li class="pipe-separate t-light-green left"><a href="/users/signout">sign out</a></li>
      {{/if}}
    </ul>
  </nav>

  {{{body}}}
</body>

</html>
