<form class="regButtons" method="POST" action="/users/registration">
  <div>
    <input type="email" name="email" placeholder="email">
  </div>
  <div>
    <input type="password" name="password" placeholder="password">
  </div>
  <div>
    <input type="tel" name="telephone" placeholder="tell number">
  </div>
  <div>
    <input type="text" name="address" placeholder="adress (City, street, house)">
  </div>
  <div>
    <input type="text" name="manager" placeholder="manager name">
  </div>
  <button type="submit">Submit</button>
</form>
