<form class="regButtons" style="flex-direction: column;" method="POST" action="/users/registration">
  <div>
    <input type="email" name="email" placeholder="email">
  </div>
  <div>
    <input type="password" name="password" placeholder="password">
  </div>
  <div>
    <input type="tel" name="phone" placeholder="tell number">
  </div>
  <div>
    <input type="text" name="nameLombard" placeholder="organisation name">
  </div>
  <div>
    <input type="text" name="adressLombard" placeholder="adress (City, street, house)">
  </div>
  <div>
    <input type="text" name="managerName" placeholder="manager name">
  </div>
  <button type="submit">Submit</button>
</form>
