<form method="POST" action="/users/registration">
  <div>
    <input type="email" name="email" placeholder="email"
      class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
  </div>
  <div>
    <input type="text" name="username" placeholder="username"
      class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
  </div>
  <div>
    <input type="password" name="password" placeholder="password"
      class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
  </div>
  <button type="submit"
    class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Submit</button>
</form>
