body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(185, 185, 185);
  }
  .imgSize{
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;  }
.form123{
  /* padding: 120px; */
  border: solid, 3px black;
  background-color: white;
align-self: center;
position: absolute;
transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.form12{
  /* padding: 130px; */
  border: solid, 3px black;
  background-color: white;
align-self: center;
position: absolute;
transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.err{
 text-align: center;
 color: red;
 text-decoration: underline;
}

.regButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 95%;
  align-items: center;
  position: fixed;
transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 60%;
}
